body{
	margin: 0;
	padding: 30px;
	background-color: black;
}

/*invader!*/
.invader{
	width: 110px;
	height: 80px;
	margin: 0;
	padding: 0;
	position: relative;
}
.invader-grid{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 	0 40px limegreen,
								0 50px limegreen,
								0 60px limegreen,

								10px 30px limegreen,
								10px 40px limegreen,

								20px 0 limegreen,
								20px 20px limegreen,
								20px 30px limegreen,
								20px 40px limegreen,
								20px 50px limegreen,
								20px 60px limegreen,

								30px 10px limegreen,
								30px 20px limegreen,
								30px 40px limegreen,
								30px 50px limegreen,
								30px 70px limegreen,

								40px 20px limegreen,
								40px 30px limegreen,
								40px 40px limegreen,
								40px 50px limegreen,
								40px 70px limegreen,

								50px 20px limegreen,
								50px 30px limegreen,
								50px 40px limegreen,
								50px 50px limegreen,

								60px 20px limegreen,
								60px 30px limegreen,
								60px 40px limegreen,
								60px 50px limegreen,
								60px 70px limegreen,

								70px 10px limegreen,
								70px 20px limegreen,
								70px 40px limegreen,
								70px 50px limegreen,
								70px 70px limegreen,

								80px 0 limegreen,
								80px 20px limegreen,
								80px 30px limegreen,
								80px 40px limegreen,
								80px 50px limegreen,
								80px 60px limegreen,

								90px 30px limegreen,
								90px 40px limegreen,

								100px 40px limegreen,
								100px 50px limegreen,
								100px 60px limegreen;
}