body{
	margin: 0;
	/*padding: 30px;*/
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
}

.space{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*background-color: pink;*/
	flex: 1;
	padding: 0 30px 30px 30px;
}

/*scoreboard*/
.scoreboard{
	padding: 30px 30px 0 30px;
	flex: 0 0 50px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}
.score-label{
	color: white;
	font-size: 0;
	display: block;
	height: 50px;
	width: 270px;
	margin-right: 50px;
	position: relative;
}
.score-label:after{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 10px white,
							0 40px white,

							10px 0 white,
							10px 20px white,
							10px 40px white,

							20px 0 white,
							20px 20px white,
							20px 40px white,

							30px 0 white,
							30px 20px white,
							30px 40px white,

							40px 0 white,
							40px 30px white,

							60px 10px white,
							60px 20px white,
							60px 30px white,

							70px 0 white,
							70px 40px white,

							80px 0 white,
							80px 40px white,

							90px 0 white,
							90px 40px white,

							110px 10px white,
							110px 20px white,
							110px 30px white,

							120px 0 white,
							120px 40px white,

							130px 0 white,
							130px 40px white,

							140px 0 white,
							140px 40px white,

							150px 10px white,
							150px 20px white,
							150px 30px white,

							170px 0 white,
							170px 10px white,
							170px 20px white,
							170px 30px white,
							170px 40px white,

							180px 0 white,
							180px 20px white,

							190px 0 white,
							190px 20px white,

							200px 0 white,
							200px 20px white,

							210px 10px white,
							210px 30px white,
							210px 40px white,

							230px 0 white,
							230px 10px white,
							230px 20px white,
							230px 30px white,
							230px 40px white,

							240px 0 white,
							240px 20px white,
							240px 40px white,

							250px 0 white,
							250px 20px white,
							250px 40px white,

							260px 0 white,
							260px 40px white;
}
.score{
	color: limegreen;
	font-size: 50px;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

/*invader!*/
.invaders{
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	position: relative;
}
.invader{
	display: block;
	width: 110px;
	height: 80px;
	margin: 0 20px 0 0;
	padding: 0;
	position: relative;
}
.invader:after{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 	0 40px white,
								0 50px white,
								0 60px white,

								10px 30px white,
								10px 40px white,

								20px 0 white,
								20px 20px white,
								20px 30px white,
								20px 40px white,
								20px 50px white,
								20px 60px white,

								30px 10px white,
								30px 20px white,
								30px 40px white,
								30px 50px white,
								30px 70px white,

								40px 20px white,
								40px 30px white,
								40px 40px white,
								40px 50px white,
								40px 70px white,

								50px 20px white,
								50px 30px white,
								50px 40px white,
								50px 50px white,

								60px 20px white,
								60px 30px white,
								60px 40px white,
								60px 50px white,
								60px 70px white,

								70px 10px white,
								70px 20px white,
								70px 40px white,
								70px 50px white,
								70px 70px white,

								80px 0 white,
								80px 20px white,
								80px 30px white,
								80px 40px white,
								80px 50px white,
								80px 60px white,

								90px 30px white,
								90px 40px white,

								100px 40px white,
								100px 50px white,
								100px 60px white;
}

.defender{
	width: 110px;
	height: 80px;
	margin: 0;
	padding: 0;
	position: relative;
}
.defender:after{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 	0 50px limegreen,
								0 60px limegreen,
								0 70px limegreen,

								10px 40px limegreen,
								10px 50px limegreen,
								10px 60px limegreen,
								10px 70px limegreen,

								20px 40px limegreen,
								20px 50px limegreen,
								20px 60px limegreen,
								20px 70px limegreen,

								30px 40px limegreen,
								30px 50px limegreen,
								30px 60px limegreen,
								30px 70px limegreen,

								40px 20px limegreen,
								40px 30px limegreen,
								40px 40px limegreen,
								40px 50px limegreen,
								40px 60px limegreen,
								40px 70px limegreen,

								50px 10px limegreen,
								50px 20px limegreen,
								50px 30px limegreen,
								50px 40px limegreen,
								50px 50px limegreen,
								50px 60px limegreen,
								50px 70px limegreen,

								60px 20px limegreen,
								60px 30px limegreen,
								60px 40px limegreen,
								60px 50px limegreen,
								60px 60px limegreen,
								60px 70px limegreen,

								70px 40px limegreen,
								70px 50px limegreen,
								70px 60px limegreen,
								70px 70px limegreen,

								80px 40px limegreen,
								80px 50px limegreen,
								80px 60px limegreen,
								80px 70px limegreen,

								90px 40px limegreen,
								90px 50px limegreen,
								90px 60px limegreen,
								90px 70px limegreen,

								100px 50px limegreen,
								100px 60px limegreen,
								100px 70px limegreen;
}